<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="gdJE2xLLnQpQQzmdTL4y06mh6F2K05ySXn9zrrF5QLM" />
    <title>Swaroop SM {% if page.title %} | {{ page.title }} {% endif %}</title>
    {% include headerlinks.ext %}
  </head>
  <body>
    <div class="wrapper">
      <header>
				{% include about.ext %}
      </header>
      <section>
      	<h2>{{ page.title }}</h2>
      	<small>{{ page.posted }}</small><hr>
        {{ content }}
        <hr>
        {% include disqus.ext %}
      </section>
      <footer>
        <p></p>
        {% include footer.ext %}
      </footer>
    </div>
  </body>
</html>
